# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*.pyc

# Environment variables
.env
.env.local
.env.production

# Database
*.sqlite3

# Test
.pytest_cache/

# IDE
.vscode/
.idea/

# Django
media/
staticfiles/

# macOS
.DS_Store